html {
  height: 100%;
  width: 100%;
}
p {
 
  color: springgreen;
}
p1 {
  font-size: 40px;

color: greenyellow
}
marquee{
 
  color: greenyellow;
}
marquee {
  font-size: 30px;
}
h2 {
  font-size: 40px;

color: greenyellow
}
p4 {
  font-size: 40px;

color: red
}

